# Don't use quotes( " and ' )

API_ID=8813038
API_HASH=780fd96b159baa710dada78ff1621b54
SESSION=
REDIS_URI=redis-16550.c265.us-east-1-2.ec2.cloud.redislabs.com:16550
REDIS_PASSWORD=gmFA3wnG9nOAZyQYjhWrlUNx7Aqt448a

# [OPTIONAL]

LOG_CHANNEL=
BOT_TOKEN=
